Source: yavdr-plymouth-theme
Section: x11
Priority: optional
Maintainer: Marco Scholl <yavdr@marco-scholl.de>
Build-Depends: debhelper (>= 7.3.15ubuntu3), dpkg-dev (>= 1.16.0~ubuntu4)
Standards-Version: 3.8.3.0

Package: plymouth-theme-yavdr-text
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, plymouth, plymouth-label
Description: textbased boot animation and logger - yavdr script theme

Package: plymouth-theme-yavdr-logo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, plymouth, plymouth-label
Description: graphical boot animation and logger - yavdr script theme

